*{margin: 0;padding: 0;}
header,footer{background-color: #4C7DCB;height: 60px;font-size: 14px;}
p,ul,dl,span{font-size: 12px;}
body{font-family: 'Microsoft YaHei';}
h2{margin: 10px 0;}

/*设置头部*/
header h1 a{
	display: block;
	float: left;
}

header img{
	height: 60px;
	margin-left: 30px;
}

header ul{
	position: absolute;
	right: 5px;
	top: 0;
}

header li{
	float: left;
	line-height: 60px;
	width: 90px;
	height: 60px;
	text-align: center;
	list-style-type: none;
}

header a{
	height: 60px;
	text-decoration:none;
	color: #fff;
}

header li:hover{
	color: #030303;
	background: #FF8000;
}

/*设置中间*/
div{
	background: #eee;
	padding: 20px 160px 20px 240px;
	margin:20px;
	border:1px solid #999;
	box-sizing: border-box;
	overflow: auto;
}

article,aside{
	background: #FFF;
	border: 1px solid #999;
}

/*中间正文*/
.main{
	float:left;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding:20px;
}

.main p{
	line-height:20px;
	margin:10px 0;
}
.zhengwen{
	text-indent: 2em; /*设置缩进*/
}

/*左侧*/
.left{
	width:200px;
	float:left;
	position: relative;
	margin-left:-100%;
	box-sizing: border-box;
	left:-220px;
	padding:20px;
}

.left img{
	width:80px;
	height:80px;
}

.left span{
	vertical-align: top;
}

/*右侧*/
.right{
	width: 120px;
	float:left;
	position: relative;
	margin-left: -120px;
	right:0px;
	text-align: center;
	box-sizing: border-box;
	right:-140px;
}

.right h2{
	width: 75px;
}
.right dl{
	margin:20px;
}
.right dl dd{
	text-align: center;
	width: 80px;
}
.right dl dd span{
	display: block;
	margin-bottom: 10px;
}
.right dl dd img{
	width: 70px;
	height: 70px;
}

/*设置footer*/
footer{
	clear: both;
}
footer p{
	text-align: center;
	line-height: 60px;
}
/**
 * 
 * @authors Monki (you@example.org)
 * @date    2017-08-09 18:14:49
 * @version $Id$
 */
